@model TheCoreBanking.Finance.Data.Models.TblFinanceAccountCategory



<div class="card ">
    <div class="card-header ">
        <h4 class="card-title text-center"> <small class="description">Account Category</small></h4>
    </div>

    <div class="card-body">
        <div id="category-toolbar">
            <div class="form-group text-right">
                <button class="btn btn-info" data-toggle="modal" data-target="#AddNewCategory" type="button" value="Add Category">
                    <i class="now-ui-icons ui-1_simple-add"></i>
                    Add Category
                </button>
            </div>
            <div class="form-group text-right">
                <input type="file" class="file btn btn-danger" id="btnUploadCategory" />
                <i class="now-ui-icons ui-1_lock-circle-open"></i>
                Upload Category
            </div>
        </div>
        <table id="categoryTable" data-toggle="table" class="data-table"
               data-url="@Url.Action("listcategory", "financesetup")"
               data-search="true"
               data-show-export="true"
               data-toolbar="#category-toolbar"
                   data-page-list="[5,10,25,50,100,150,200,250,300]"
               data-page-size="25"            
               data-check-on-init="true" 
               data-pagination="true"
               data-mobile-responsive="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-buttons-class="danger">
            <thead>
                <tr>
                    <th data-field="descriptions" data-sortable="true"><b>Description</b></th>
                    <th data-field="active"><b>Active</b></th>
                    <th data-field="" data-align="right" data-events="categoryEvents" data-formatter="categoryFormatter">  </th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="AddNewCategory" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1"  aria-labelledby="wizardModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">ADD NEW CATEGORY </h7>
            </div>
            <div class="modal-body">
                <form asp-action="AddCategory" id="frmCategory" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#category" aria-expanded="true" aria-controls="category">
                                    Category Information
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="category" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input asp-for="Id" class="form-control" type="hidden" />
                                    </div>

                                    <div class="form-group">
                                        Description
                                        <input id="Descriptionscategory" type="text" required class="form-control" />
                                        @*<span asp-validation-for="Descriptions" class="text-danger"></span>*@
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Group
                                            <select id="ddlGroupp" name="ddlGroupp"  class="form-control" required>
                                                <option disabled value="" selected hidden>Select Group...</option>
                                            </select>
                                            <span asp-validation-for="AccountGroupId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            Active
                                            @Html.DropDownListFor(model=>model.Active,new SelectList(ViewBag.status),
                                           "Select status", new {id="ddlStatus",@class="form-control"})
                                            <span asp-validation-for="Active" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <hr />
                    <div class="form-group text-right">
                

                        <button class="btn btn-info" id="btnCategory" type="submit" value="Save Record">
                            <i class="now-ui-icons ui-1_check"></i>
                            Save Record
                        </button>
                        <button class="btn btn-danger" type="reset">
                            <i class="fa fa-recycle"></i>
                            Clear
                        </button>
                    </div>


                </form>

            </div>

        </div>

    </div>
</div>

<div id="UpdateCategory" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1"  aria-labelledby="wizardModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="now-ui-icons ui-1_simple-remove"></i></button>
                <h7 class="modal-title">UPDATE CATEGORY </h7>
            </div>
            <div class="modal-body">
                <form asp-action="UpdateCategory" id="UpdatefrmCategory" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
                        <div class="card card-plain">
                            <div class="card-header" role="tab" id="headingOne">
                                <a data-toggle="collapse" data-parent="#accordion" href="#category" aria-expanded="true" aria-controls="category">
                                    Category Information
                                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                                </a>
                            </div>
                            <div id="category" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input id="IdUpdate" class="form-control" type="hidden" />
                                    </div>

                                    <div class="form-group">
                                        Description
                                        <input id="DescriptionUpdate"  type="text" class="form-control" />
                                       
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            Group
                                            <select id="ddlGrouppUpdate" name="ddlGrouppUpdate" class="form-control" required>
                                                <option disabled value="" selected hidden>Select Group...</option>
                                            </select>
                                           
                                        </div>
                                        <div class="form-group col-md-6">
                                            Active
                                            @Html.DropDownListFor(model => model.Active, new SelectList(ViewBag.status),
                                           "Select status", new { id = "ddlStatusUpdate", @class = "form-control" })
                                            
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <hr />
                    <div class="form-group text-right">
                        <button class="btn btn-info" id="btnCategoryUpdate" type="submit" value="Update Record">
                            <i class="now-ui-icons ui-1_check"></i>
                            Update Record
                        </button>

                        
                        <button class="btn btn-danger" type="reset">
                            <i class="fa fa-recycle"></i>
                            Clear
                        </button>
                    </div>


                </form>

            </div>

        </div>

    </div>
</div>