@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <script name="clear-browser-cache" src='~/js/clear-browser-cache.js' value="true"></script>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> TheCoreBanking : @ViewData["Title"]</title>

    <environment include="Development">
        <link href="/css/Montserrat.css" rel="stylesheet" />
        <link href="/css/all.css" rel="stylesheet" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" />
        @*<link href="~/css/now-ui-dashboard.css" rel="stylesheet" />*@
        @*<link href="~/css/pace/red/pace-theme-flat-top.css" rel="stylesheet" />*@
        <link href="~/css/bootstraptable/bootstrap-table.css" rel="stylesheet" />
        <link href="~/css/now-ui-dashboard.minf700.css" rel="stylesheet" />
        @*<link href="~/css/pace/red/pace-theme-material.css" rel="stylesheet" />*@
        <link href="~/css/fontawesome/css/all.css" rel="stylesheet" />
        <link href="~/css/select2.css" rel="stylesheet" />
        @*<link href="~/css/select2/select2.css" rel="stylesheet" />*@
        <link href="~/css/select2/select2-bootstrap4.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="/css/Montserrat.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="/css/all.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        @*<link href="~/css/now-ui-dashboard.css" rel="stylesheet" />*@
        <link href="~/css/pace/red/pace-theme-flat-top.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/now-ui-dashboard.minf700.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/pace/red/pace-theme-flash.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/bootstraptable/bootstrap-table.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/select2/select2.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/select2/select2-bootstrap4.css" rel="stylesheet" asp-append-version="true" />
        @*<link href="~/demo/demo.css" rel="stylesheet" asp-append-version="true" />*@
    </environment>
    @RenderSection("Styles", required: false)

</head>
<body>
    @*<script>
        @functions{
        public string GetAntiForgeryToken()
        {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + "," + formToken;
        }
        }
        </script>
        <input type="hidden" id="forgeryToken" value="@GetAntiForgeryToken()" />*@
    <div class="wrapper ">

        <div class="sidebar" data-color=red>
            <!--
                Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
            -->
            <div class="logo">
                <a href="https://fintrakbankingmmbs.azurewebsites.net" class="simple-text logo-mini">
                    FB
                </a>
                <a href="https://fintrakbankingmmbs.azurewebsites.net" class="simple-text logo-normal">
                    Fintrak &reg; Bank
                </a>

                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
                        <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
                        <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
                    </button>
                </div>

            </div>
            <div class="sidebar-wrapper">

                <div class="user">
                    <div class="photo">
                        <img src="~/img/james.jpg" />
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                @name
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="http://fintrakbankingmmbs-company.azurewebsites.net/CompanySetup/EditProfile">
                                        <span class="sidebar-mini-icon">MP</span>
                                        <span class="sidebar-normal">My Profile</span>
                                    </a>
                                </li>
                               
                                <li>
                                    <a href="http://fintrakbankingmmbs.azurewebsites.net/">
                                        <span class="sidebar-mini-icon">S</span>
                                        <span class="sidebar-normal">Settings</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <ul class="nav">





                    <li class="active">

                        <a href="http://fintrakbankingmmbs.azurewebsites.net">

                            <i class="now-ui-icons design_app"></i>

                            <p>Dashboard</p>
                        </a>

                    </li>

                    <li>

                        <a data-toggle="collapse" href="#generalSetup">

                            <i class="now-ui-icons design_app"></i>

                            <p>
                                Finance Setup <b class="caret"></b>
                            </p>
                        </a>
                        <div class="dropdown" id="generalSetup">
                            <ul class="nav">

                                <li>
                                    <a href="@Url.Action("Index","Financesetup")">
                                        <span class="sidebar-mini-icon">LS</span>
                                        <span class="sidebar-normal"> Ledger Setup </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Caption")">
                                        <span class="sidebar-mini-icon">AC</span>
                                        <span class="sidebar-normal">Account Caption</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","Chart")">
                                        <span class="sidebar-mini-icon">CoA</span>
                                        <span class="sidebar-normal"> Chart of Account</span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </li>
                    @*<li>

                        <a data-toggle="collapse" href="#productSetup">

                            <i class="now-ui-icons design_image"></i>

                            <p>
                                Product Setup <b class="caret"></b>
                            </p>
                        </a>
                        <div class="dropdown" id="productSetup">
                            <ul class="nav">

                                <li>
                                    <a href="http://fintrakbankingmmbs-Product.azurewebsites.net">
                                        <span class="sidebar-mini-icon">P</span>
                                        <span class="sidebar-normal"> Product </span>
                                    </a>
                                </li>


                            </ul>
                        </div>

                    </li>*@
                    <li>

                        <a data-toggle="collapse" href="#financeoperation">

                            <i class="now-ui-icons design_app"></i>

                            <p>
                                Finance Operation <b class="caret"></b>
                            </p>
                        </a>
                        <div class="dropdown" id="financeoperation">
                            <ul class="nav">

                                <li>
                                    <a href="@Url.Action("Index","FundTransfer")">
                                        <span class="sidebar-mini-icon">ST</span>
                                        <span class="sidebar-normal"> Single Ledger </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("MultipleTransfer","FundTransfer")">
                                        <span class="sidebar-mini-icon">MT</span>
                                        <span class="sidebar-normal">Multiple Ledger</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index","BulkUpload")">
                                        <span class="sidebar-mini-icon">BU</span>
                                        <span class="sidebar-normal"> Bulk Upload</span>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>

                    </li>

                    <li>

                        <a data-toggle="collapse" href="#reversaloperation">

                            <i class="now-ui-icons design_app"></i>

                            <p>
                                Transaction Reversal <b class="caret"></b>
                            </p>
                        </a>
                        <div class="dropdown" id="reversaloperation">
                            <ul class="nav">

                                @*<li>
                                    <a href="@Url.Action("Customer","Reversal")">
                                        <span class="sidebar-mini-icon">Cu</span>
                                        <span class="sidebar-normal"> Customer </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GeneralLedger","Reversal")">
                                        <span class="sidebar-mini-icon">GL</span>
                                        <span class="sidebar-normal">General Ledger</span>
                                    </a>
                                </li>*@
                                <li>
                                    <a href="@Url.Action("BulkUpload","Reversal")">
                                        <span class="sidebar-mini-icon">RT</span>
                                        <span class="sidebar-normal">Reverse Transaction</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">@RenderSection("title", false)</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">


                        <ul class="navbar-nav">



  


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccountLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="now-ui-icons users_single-02"></i>
                        <p>
                            <span class="d-lg-none d-md-block">Account</span>
                        </p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAccountLink">                      

                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="dropdown-item" href="@Url.Action("logout","Home")"><i class="now-ui-icons ui-1_lock-circle-open"></i>Logout</a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="http://fintrakbankingmmbs.azurewebsites.net/Account/Login"><i class="now-ui-icons ui-1_lock-circle-open"></i>Login</a>
                        }

                    </div>
                </li>
            </ul>



                    </div>

                </div>
            </nav>
            <!-- End Navbar -->
            
                <div class="panel-header panel-header-sm text-center" style="background: #141e30; background: linear-gradient(90deg,#0c2646 0,#204065 60%,#2a5788)">
                    @RenderSection("pagedescription", false)
                </div>
            

            @*<div class="panel-header panel-header-sm text-center">

                @RenderSection("pagedescription", false)
            </div>*@
           <div class="content">
            <marquee direction="left" style="color:white">System Date:@ViewData["CurrentDate"] Bank: @ViewData["CompanyName"] Branch: @ViewData["Branch"]</marquee>
            @RenderBody()

           </div>



            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul>
                            <li>
                                <a href="https://www.fintraksoftware.com/">
                                    Fintrak Software Co. Limited
                                </a>
                            </li>
                            <li>
                                <a href="http://presentation.fintraksoftware.com/">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="http://blog.fintraksoftware.com/">
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script> - TheCoreBanking  by <a href="https://www.fintraksoftware.com/" target="_blank">Fintrak Software Co. Limited</a>.
                    </div>
                </div>
            </footer>

        </div>

    </div>


    <environment include="Development">
        <script src="~/js/core/jquery.js"></script>
        <script src="~/js/select2.js"></script>
        @*<script src="~/js/core/select2.full.js"></script>*@
        <script src="~/js/core/popper.min.js"></script>
        <script src="~/js/core/bootstrap.min.js"></script>
        <script src="~/js/focus.js"></script>
        @*<script src="~/js/core/bootstrap.min.js"></script>*@
        <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/js/plugins/moment.min.js"></script>
        <script src="~/js/plugins/bootstrap-switch.js"></script>
        <script src="~/js/plugins/sweetalert2.min.js"></script>
        <script src="~/js/plugins/jquery.validate.min.js"></script>
        <script src="~/js/plugins/jquery.bootstrap-wizard.js"></script>
        <script src="~/js/plugins/bootstrap-selectpicker.js"></script>
        <script src="~/js/plugins/bootstrap-datetimepicker.js"></script>
        <script src="~/js/bootstraptable/bootstrap-table.js"></script>
        <script src="~/js/bootstraptable/export/bootstrap-table-export.js"></script>
        <script src="~/js/bootstraptable/tableExport.js"></script>
        <script src="~/js/bootstraptable/mobile/bootstrap-table-mobile.js"></script>
        @* <script src="~/js/plugins/jquery.dataTables.min.js"></script>*@
        <script src="~/js/plugins/bootstrap-tagsinput.js"></script>
        <script src="~/js/plugins/jasny-bootstrap.min.js"></script>

        <script src="~/js/plugins/fullcalendar.min.js"></script>
        <script src="~/js/plugins/jquery-jvectormap.js"></script>
        <script src="~/js/plugins/nouislider.min.js"></script>
        <script async defer src="~/js/plugins/buttons.js"></script>
        <script src="~/js/plugins/chartjs.min.js"></script>
        <script src="~/js/plugins/bootstrap-notify.js"></script>
        <script src="~/js/now-ui-dashboard.minf700.js"></script>
        @*<script src="~/js/bootstrap-fileinput/fileinput.js"></script>*@
        @*<script src="~/js/bootstrap-fileinput/themes/fas/theme.js"></script>*@
        <script src="~/js/pace.js"></script>

        @*<script src="~/js/select2.js"></script>
        <script src="~/Scripts/select2.min.js"></script>*@
    </environment>
    <environment exclude="Development">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>*@
        <script src="~/js/core/jquery.min.js"></script>
        <script src="~/js/core/popper.min.js"></script>
        <script src="~/js/core/bootstrap.min.js"></script>
        <script src="~/js/select2.js"></script>
        <script src="~/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/js/plugins/moment.min.js"></script>
        <script src="~/js/plugins/bootstrap-switch.js"></script>
        <script src="~/js/focus.js"></script>
        <script src="~/js/plugins/sweetalert2.min.js"></script>
        <script src="~/js/plugins/jquery.validate.min.js"></script>
        <script src="~/js/plugins/jquery.bootstrap-wizard.js"></script>
        <script src="~/js/plugins/bootstrap-selectpicker.js"></script>
        <script src="~/js/plugins/bootstrap-datetimepicker.js"></script>
        <script src="~/js/bootstraptable/bootstrap-table.js"></script>
        <script src="~/js/bootstraptable/export/bootstrap-table-export.js"></script>
        <script src="~/js/bootstraptable/tableExport.js"></script>
        <script src="~/js/bootstraptable/mobile/bootstrap-table-mobile.js"></script>
        <script src="~/js/plugins/bootstrap-tagsinput.js"></script>
        <script src="~/js/plugins/jasny-bootstrap.min.js"></script>
        <script src="~/js/plugins/fullcalendar.min.js"></script>
        <script src="~/js/plugins/jquery-jvectormap.js"></script>
        <script src="~/js/plugins/nouislider.min.js"></script>
        @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>*@
        <script async defer src="~/js/plugins/buttons.min.js"></script>
        <script src="~/js/plugins/chartjs.min.js"></script>
        <script src="~/js/plugins/bootstrap-notify.js"></script>
        <script src="~/js/now-ui-dashboard.minf700.js?v=1.0.1"></script>
        <script src="~/js/pace.min.js"></script>



    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>











